@model IEnumerable<BullSurvey.Models.Survey>

@{
    ViewData["Title"] = "Dashboard";
    int activeSurveyCount = Model.Count();
}

<h1 class="text-2xl font-bold mb-8 text-center text-primary bg-gold px-3 py-3">Survey Questions Dashboard</h1>
<!-- Active Surveys Card -->
<div class="flex justify-center mb-6">
    <div class="flex items-center justify-center w-full max-w-xs p-4 bg-green-100 border border-green-500 rounded-lg shadow-md text-green-700 transition-transform duration-300 hover:scale-105">
        <div class="text-center">
            <h2 class="text-lg font-semibold">Active Surveys</h2>
            <p class="text-2xl font-bold text-green-800">@activeSurveyCount</p>
        </div>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @foreach (var survey in Model)
    {   
        <div class="card border mr-10 mt-10 border-primary shadow-lg rounded-lg p-4 hover:shadow-xl transition-shadow duration-300 cursor-pointer" onclick="location.href='@Url.Action("Dashboard", "DashBoard", new { id = survey.SurveyId })'">
            <h2 class="font-semibold text-lg text-green-600">@survey.Title</h2>
            <p class="text-gray-700">Responses: @survey.Description</p>
        </div>
    }
</div>